---
export interface Props {
    title: string;
    img: string;
	details: string;
    techStack: string;
	github?: string;
    link?: string;
}

const { title, img, details, techStack, github, link } = Astro.props;
---
<section class='m-3'>
    <div class='flex flex-row'>
        <img src={img} class='w-[400px] mx-2'>
        <div>
            <h2>{title}</h2>
            <p>{details}</p>
            <p>{techStack}</p>
            {github? <p>Check it out on <a href={github} target="_blank">GitHub!</a></p> : ""}
            {link? <p>Check it out <a href={link} target="_blank">here!</a></p> : ""}
        </div>
    </div>
</section>